@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
  }

  body{
      background: #f9f9f9;
  }

  .app{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid grey;
    width: 520px;
    min-height: 600px;
    background: #f7f7f7;
    text-align: center;
    margin: 20px auto;
    border-radius: 2px;
    padding-bottom: 32px;
  }

  h3{
    margin: 32px 0;
    padding-top: 10px;
    color: rgb(66, 65, 65);
    font-size: 24px;
  }

  .noteForm{
    margin-bottom: 32px;
  }

  .bodyCard{
      margin: -5px;
  }

  .editIcon{
      cursor: pointer;
      color: #0d6efd;
      font-size: 17px;
  }

  .deleteIcon{
    cursor: pointer;
    color: #dc3545;
    font-size: 17px;
}

.editIcon:hover{
    color: rgb(6, 70, 165);
    font-size: 20px;
}

.deleteIcon:hover{
    color: red;
    font-size: 20px;
}


